altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
deep-translator==1.11.4
idna==3.6
packaging==24.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
requests==2.31.0
soupsieve==2.5
style==1.1.0
update==0.0.1
urllib3==2.2.1
